$font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$link: #0275d8;
$link-hover: #44da82;
$fade: #808b96;

body {
    font-family: $font-stack;
}

.bg-faded {
    background-color: #fff;
}

@import 'partials/_bootstrap';
@import 'partials/_cards';
@import 'partials/_footer';
@import 'partials/_nav-filter';
@import 'partials/_nav-main';
@import 'partials/_media-queries';
@import 'partials/_slider';
