$font-stack: 'Montserrat', Arial, sans-serif;

body {
  font-family: $font-stack;
}

.bg-faded {
    background-color: #fff;
}

@import 'partials/_bootstrap';
@import 'partials/_cards';
@import 'partials/_footer';
@import 'partials/_nav-filter';
@import 'partials/_nav-main';
@import 'partials/_media-queries';
@import 'partials/_slider';
