.card {
  border: 1px solid rgba(0,0,0,0.1);
}

/*.card > img {
  margin-bottom: .75rem;
}*/

.card-block {
    padding: 0.65rem;
}

.card-title {
    margin-bottom: 0;
    a {
        color: #444;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        &:hover {
            color: $link-hover;
            text-decoration: none;
        }
    }
}

.card-subtitle.text-muted {
    color: #a8a8a8;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;

}

.card-link {
  font-size: 85%;
  a {
      color: $fade;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}
