.row #menu-filter {
    padding-left: .9375rem;
}

#menu-filter {
    font: {
        family: $font-stack;
        size: 12px;
    }
    letter-spacing: 1px;
    text-transform: uppercase;
    ul {
        list-style-type: none;
        margin-bottom: 10px;
        padding: 0;
        li a {
            color: #7f8c8d;
            text-decoration: none;
            font-weight: 500;
        }
        li.active {
            border-bottom: 3px solid #0275d8;
            color: #0275d8;
            display: inline-block;
            padding: 0 0 8px 0;
        }
        li a:hover {
            color: #444;
            text-decoration: none;
        }
    }
    li {
        display: inline-block;
        line-height: 25px;
        margin-right: 20px;
    }
}
