.jumbotron {
  padding-top: 6rem;
  background-color: #44da82;
}

.jumbotron-heading {
  color: #fff;
  line-height: 93px;
  font-size: 72px;
  font-weight: 700 !important;
  font-family: "Montserrat", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

.jumbotron p:first-of-type {
  color: #fff;
}

.jumbotron .container {
  max-width: 40rem;
}
